<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <meta http-equiv="Content-Type" contents="text/html" charset="UTF-8"/>
    <title th:text="${title}">Moon Spa</title>
    <link rel="stylesheet" type="text/css" th:href="@{/menu.css}" />
</head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container">

    <h2>Guest form</h2>

    <form class="form-horizontal" th:object="${guest}" method="post">

        <div class="form-group">
            <label th:for="firstName">First Name</label>
            <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name" />
        </div>

        <div class="form-group">
            <label th:for="lastName">Last Name</label>
            <input type="text" class="form-control" th:field="*{lastName}"  placeholder="Last Name" />
        </div>

        <div class="form-group">
            <label th:for="emailAddress">Email address</label>
            <input type="text" class="form-control" th:field="*{emailAddress}" placeholder="Email" />
        </div>

        <div class="form-group">
            <label th:for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" th:field="*{phoneNumber}" placeholder="Phone Number" />
        </div>

        <input type="submit" value="Create Guest" />

    </form>



</div>

</body>
</html>